@import 'tailwindcss';

.font1 {
	font-family: 'Reenie Beanie', cursive;
}
.font2 {
	font-family: 'Comic Neue', cursive;
}
/* .font1{
font-family: 'Cedarville Cursive', cursive;
} */
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.05) 75%
  );
  background-size: 800px 100%;
  animation: shimmer 1.6s infinite linear;
}
